<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrena</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style-product-det.css">
    <link rel="stylesheet" href="css/style-general.css">
</head>

<body>
    <header>
        <div class="header-container">
            <div class="icon">
                <img src="/images/logo-estrena.png" alt="">
            </div>
            <div class="controls">
                <div class="searchbar">
                    <form action="">
                        <input type="text" name="" id="searchBar">
                        <button type="submit">
                            <img src="https://cdn.icon-icons.com/icons2/2469/PNG/512/magnifier_magnifying_glass_icon_149435.png"
                                alt="">
                        </button>
                    </form>
                </div>
                <div class="buttons">
                    <button type="submit">
                        <img src="https://cdn-icons-png.flaticon.com/512/1413/1413908.png" alt="">
                    </button>
                    <button type="submit">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/OOjs_UI_icon_userAvatar.svg/2048px-OOjs_UI_icon_userAvatar.svg.png"
                            alt="">
                    </button>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="box-title1">
            <div class="title1">Carrito de Compras</div>
            <div class="title2">Tu Orden</div>

        </div>
        
        </div>
        <div class="product">
            <div class="img-product">
                <img src="" alt="Imagen del producto" class="product_img">
            </div>
            <div class="desc-product">
                <p>Descripción</p>
            </div>
            <div class="buy-box">
                <i class="fa-solid fa-plus"></i>
                <p>Cantidad</p>
                <i class="fa-solid fa-minus"></i>
            </div>
        </div>
        <div class="purchase-values">
            <p>Subtotal</p>
            <p>Vlr Subtotal</p>
            <p>Taxes</p>
            <p>Vlr Taxes</p>
            <p>Total</p>
            <p>Vlr Total</p>
        </div>
        <div class="purchase-buttons">
            <button type="submit" class="enviar">Pagar ahora</button>
            <button type="reset" class="borrar">Seguir comprando</button>
        </div>
    </main>

    <footer>
    </footer>

</body>

</html>