* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #c8c7c2;
  background-image: url("https://media.revistagq.com/photos/5cd31334d1dca857dbc08fdd/16:9/w_2560%2Cc_limit/job%2520meeting.jpg");
}

.title1{
  display: flex;
  width: 100%;
  padding: 20px;
  border: 5px;
  text-align: center;
}

.logo{
  display: flex;
  width: 100%;
  padding: 20px;
  border: 5px;
  text-align: center;
}


.product{
  display: flex;
}

@media (min-width: 361px) {
  main {
    margin: 10px;
    margin-top: 10%;
    width: 60%;
  }
}

@media (min-width: 769px) {
  main {
    width: 50%;
  }
}

@media (min-width: 1279px) {
  main {
    width: 40%;
  }
}