main {
  height: 100%;
  width: 100%;
  display: flex;
}

main .box-title1 {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  color: #F3E5F5;
}

  main .box-title1 .title1 .title2{
    color: #F3E5F5
    
  }


  

